<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p><span data-controller="typed-js"></span></p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container">

  <h1>Rails Front-End <i class="fa-solid fa-house"></i></h1>

  <div class="banner">
    <p>Welcome #1272</p>
  </div>

  <p>This is a regular paragraph</p>

  <div class="logo">
    <a href="www.google.com">See more</a>
  </div>


  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <%= image_tag 'logo.png', alt: 'Le Wagon logo', width: '200px', class: 'image-circle' %>

</div>
